<form {{action 'save' on="submit"}}>
  <h2>{{errorMessage}}</h2>
  <div class="form-group">
    {{input value=model.firstName placeholder="First Name" class="form-control" }}
    {{input value=model.lastName placeholder="Last Name" class="form-control" }}
    {{input value=model.email placeholder="Email" class="form-control" }}
    {{input value=model.twitter placeholder="Twitter" class="form-control" }}
  </div>
  <input type="submit" value="Save" class="primary"/>
  <button {{action "cancel"}} >Cancel</button>
</form>
